NODE_ENV=development
PORT=3000
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://havmor:QEqh58mVDK4qskNy@cluster-havmor.o0dwnka.mongodb.net/hackathon
RESEND_API_KEY=re_3WMKRwvz_HdNNhYZ2rENwYn4wF3XPbR5v
JWT_SECRET=11f81a401e7bec6662bcbc2544a5b9f427e30bcd0e0aa7b636909d1819bde461
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=AIzaSyBzwrDJQ1XukexWssC8GIgLK_Pub3GAFQU