NODE_ENV=development
PORT=3000
CLIENT_URL=http://localhost:5173
MONGO_URI=
RESEND_API_KEY=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=AIzaSyBzwrDJQ1XukexWssC8GIgLK_Pub3GAFQU
EMAIL_USER=mdfarhansadik76@gmail.com
EMAIL_PASS=edbe bjca imde irxe